.idea/*
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.d/
terraform/.terraform.tfstate.lock.info
terraform.tfvars
*.auto.tfvars
terraform/keys/*